@import "~bootstrap/dist/css/bootstrap.min.css";

:root {
  margin: 0 auto;
  padding: 0 auto;
}

body {
  background-image: url("https://cdn.pixabay.com/photo/2022/06/13/22/32/casino-7260767_960_720.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
@media screen and (max-width: 1024px) {
  body {
    background-color: #000;
  }
}

.bg-contenedor {
  background-color: #ffffff82;
  margin-top: 2%;
}

.contenedor {
  background-color: #ffffff82;
  text-align: center;
  margin: 0 auto;
}

.blackjack {
  background-image: url("https://cdn.pixabay.com/photo/2022/06/13/22/32/casino-7260767_960_720.jpg");
}
@media screen and (max-width: 1024px) {
  .blackjack {
    display: none;
  }
}

.card {
  height: 300px;
  width: 200px;
  background-color: #fff;
  background-image: url("https://img.freepik.com/foto-gratis/fondo-textura-papel_53876-30486.jpg?w=996&t=st=1676507149~exp=1676507749~hmac=cef3cd74101bd133834ace63bd67bf7371bbf4683411dd9826db55dad8d00d1d");
  border-radius: 2rem;
  border: 2px black;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
}

.suitup {
  position: relative;
  top: 2px;
  right: 55px;
  font-size: 50px;
  text-shadow: -2px 1px 9px rgb(54, 41, 41);
  align-content: flex-start;
}

.num {
  font-size: 90px;
  font-weight: bold;
  text-shadow: -2px 1px 9px rgb(54, 41, 41);
  align-items: center;
}

.suitdown {
  position: relative;
  bottom: 2px;
  left: 55px;
  font-size: 50px;
  transform: rotate(180deg);
  text-shadow: -2px 1px 9px rgb(54, 41, 41);
  align-items: flex-end;
}

.red {
  color: red;
}

.black {
  color: black;
}

.formaBoton {
  border-radius: 10px;
  padding-left: 25px;
  padding-right: 25px;
  margin-bottom: 5%;
}

.boton {
  text-decoration: none;
  color: #000;
  font-weight: bold;
  padding: 12px 20px;
  font-size: 18px;
  border-radius: 10px;
  background-color: #cbaa85;
  box-shadow: 0 5px 5px #313131, 0 9px 0 #393939;
  position: relative;
  display: inline-block;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.2);
}
.boton:hover {
  box-shadow: 0 5px 5px #313131, 0 9px 0 #393939,
    0px 9px 10px rgba(0, 0, 0, 0.4), inset 0px 2px 15px rgba(255, 255, 255, 0.4),
    inset 0 -2px 9px rgba(0, 0, 0, 0.2);
}
.boton:active {
  top: 7px;
  box-shadow: 0 2px 0 #393939, 0px 4px 4px rgba(0, 0, 0, 0.4),
    inset 0px 2px 5px rgba(0, 0, 0, 0.2);
}
